<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test_NG">

<test name="To verify that Compose button is working properly">
    <classes>
        <class name="DD_Test.TC_002" ></class>  
    </classes>
</test>
  
 <!-- Test -->
</suite> <!-- Suite -->
